html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: #121418;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Helvetica Neue", sans-serif;
  font-size: 16px;
  width: 400px;
  align-items: center;
  justify-content: center;
  color: #303032;
}

/*
input[type="text"]::selection {
  border: 1px solid #4c6272;
}

input[type="text"] {
  background-color: transparent;
  color: #aba5ad;
  width: 200px;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid #5cbfc9;
  border-radius: 2px;
}
*/

#root {
  position: relative;
  margin: auto;
  min-height: 100vh;
  background-image: linear-gradient(180deg, rgb(200, 200, 243), rgb(220, 220, 245));
}

a {
  text-decoration: none;
  color: #1070af
}